/*blue: #1F71BA  */
/*red: #FD2700  */

body {
  padding-top: 50px;
  font-size: 16px;
  font-family: 'Source Sans Pro', 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.spacer10 {
	height: 10px;
}

.spacer20 {
	height: 20px;
}

.spacer40 {
	height: 40px;
}

.navbar {
    min-height: 80px;
    padding-top: 15px
}

.navbar-inverse {
    background-color: #252d44;
    /*border-color: #FD2700;*/
    border-radius: 0;
    border: none;

}

.navbar-inverse .navbar-brand {
	color: #fff;
}

.navbar-inverse .navbar-toggle {
    border-color: #fff;
}

.navbar-inverse .navbar-toggle:active .icon-bar, 
.navbar-inverse .navbar-toggle:focus .icon-bar, 
.navbar-inverse .navbar-toggle:hover .icon-bar,
.navbar-inverse .navbar-toggle:visited .icon-bar  {
    background-color: #FD2700;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:active,
.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:visited {
	background-color: #252d44;
	border-color: #FD2700;
}

.navbar-inverse .navbar-brand {
	color: #1F71BA;
}

.navbar-inverse .navbar-brand > span {
	color: #FD2700;
}

.navbar-inverse .navbar-brand:hover, 
.navbar-inverse .navbar-brand:focus {
	color: #FD2700;
}

.navbar-inverse .navbar-brand:hover > span, 
.navbar-inverse .navbar-brand:focus > span {
	color: #1F71BA;
}

.navbar-inverse .navbar-nav>li>a {
	color: #fff;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a.active {
	color: #FD2700;
}

.header {
	background-color: #252d44;
	margin-bottom: 50px;
}


@media (min-width: 768px) {
	.header {
		margin-bottom: 100px;
	}
}

.header:before { 
    content: '';
    position: absolute;
    left: -25%;
    bottom: -25%;
    width: 150%; 
    height: 200px; 
    background-color: #fff; 
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    transform: rotate(-3deg);
}

.header .container {
	padding: 70px 0 180px 0;
}

#site-titles > h1 {
	font-size: 90px;
	margin-top: 35px;
	color: #1F71BA;
}

#site-titles > h1 > span {
	color: #FD2700;
}

#site-titles > h2 {
	color: #fff;
}

.page-header {
	color: #1F71BA;
	font-size: 70px;
	margin-top: 80px;
	border-bottom: 1px solid #1F71BA
}

#top-menu .col-sm-4:nth-child(1) .menu-box {
	background-color: #5da655;
}

#top-menu .col-sm-4:nth-child(2) .menu-box {
	background-color: #d7524d;
}

#top-menu .col-sm-4:nth-child(3) .menu-box {
	background-color: #27a4e7;
}

#top-menu .col-sm-3:nth-child(4) .menu-box {
	background-color: #B95FA5;
}

@media (min-width: 768px) {
	.menu-box.top {
		margin-top: -200px;
	}
}

.menu-box {
	padding-top: 20px;
	margin: 40px auto;
	text-align: center;
}

.menu-box .glyphicon {
	font-size: 50px;
	background-color: #eee; /* fallback */
	background-color: rgba(200,200,200,0.2);
	margin: 35px 0;
	border: 1px solid #000;
	border-radius: 70px;
	padding: 30px;

}

.menu-box h2 {
	background-color: #eee; /* fallback */
	background-color: rgba(200,200,200,0.5);
	padding: 25px 0;
}

#front-page-video {
	margin: 100px 0 60px 0;
	background-color: #eee;
	padding: 125px 0;
}


#footer {
	background-color: #ddd;
	margin-top: 100px;
}

#footer .container {
	padding: 40px 0;
}